.form-container {
  width: 350px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid rgb(194, 194, 194);
  border-radius: 8px;
  background: rgb(255, 255, 255);
}
h2 {
  text-align: center;
  color: green;
}
input {
  width: 100%;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid #9d9c9c;
  border-radius: 4px;
}
button {
  width: 100%;
  padding: 10px;
  background-color: #920ec2;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
button:hover {
  background-color: #d417d1;
}
.error {
  color: red;
  font-size: 0.85rem;
}

.success {
  color: green;
  text-align: center;
  margin-top: 15px;
}
