body {
  font-family: "Poppins", sans-serif;
  background-color: #fafafa;
}

.recipe {
  max-width: 900px;
  margin: auto;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 25px;
}
h1{
    color: green;
}


.form input[type="text"],
.form input[type="file"] {
  width: 80%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.image {
  width: 150px;
  height: 100px;
  object-fit: cover;
  margin: 10px 0;
  border-radius: 8px;
  border: 1px solid #ddd;
}

.form button {
  padding: 10px 20px;
  background-color: #07b774;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
}

.form button:hover {
  background-color: #289572;
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 20px;
  justify-items: center;
}

.card {
  background: white;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 260px;
  transition: transform 0.2s ease-in-out;
}

.card:hover {
  transform: translateY(-5px);
}

.card img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 10px;
}

.card h3 {
  margin: 10px 0 5px;
  color: #333;
}

.card p {
  color: #666;
  font-size: 14px;
}

.card button {
  background-color: #f618d5;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.card button:hover {
  background-color: #9e0c8a;
}
