.movie-container {
  text-align: center;
  font-family: "Poppins", sans-serif;
  padding: 30px;
  background: #fafafa;
  min-height: 100vh;
}

.search-form {
  margin: 20px auto;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.search-input {
  padding: 10px;
  width: 300px;
  border: 2px solid #444;
  border-radius: 8px;
  font-size: 16px;
}

.search-btn {
  background-color: #03a474;
  border: none;
  color: white;
  padding: 10px 20px;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
}

.search-btn:hover {
  background-color: #19af98;
}

.results-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 20px;
  margin-top: 30px;
  padding: 10px;
}

.movie-card {
  background: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: transform 0.3s ease;
}
.movie-card:hover {
  transform: scale(1.05);
}
.movie-card img {
  width: 100%;
  height: 270px;
  object-fit: cover;
}
.movie-info {
  padding: 10px;
}
.error {
  color: red;
}
.info {
  color: gray;
}
h1 {
    color: green;
}