*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(209, 245, 233);
    
}

.dltt {
    height: 200px;
    width: 358px;
    object-fit: cover;
}

