.out {
    display:  flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: rgb(182, 241, 200);
}

.in{
    border: 1px solid greenyellow;
    padding: 40px 70px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h1{
    color: green;
}

ul {
    list-style-type: none;
}
li{
    margin-bottom: 30px;
    border: 1px solid yellowgreen;
    padding: 10px;
    margin-right: 40px;
}