.out {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: rgb(182, 241, 200);
}

.in {
    border: 1px solid greenyellow;
    padding: 40px 70px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    color: green;
}

button {
    padding: 8px 12px;
    margin: 5px;
}

.start {
    border: none;
    background-color: rgb(128, 8, 147);
    color: white;
}

.pause {
    border: none;
    background-color: rgb(0, 140, 255);
    color: white;
}

.resume {
    border: none;
    background-color: rgb(33, 213, 1);
    color: white;
}
.stop{
     border: none;
    background-color: red;
    color: white;
}