.out {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: rgb(182, 241, 200);
}

.in {
    border: 1px solid greenyellow;
    padding: 40px 70px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h2 {
    color: green;
}

button {
    padding: 3px 8px;
}

table {
    border: 2px solid rgb(161, 238, 140);
    padding: 15px;
    margin-top: 15px;
    box-shadow: 1px 1px 1px 2px rgb(220, 244, 173), -1px -1px 1px 2px rgb(222, 237, 194);
}

td {
    padding-right: 15px;
    padding-top: 10px;
}

th {
    padding-right: 18px;
    padding-bottom: 5px;
}