.cs {
    border: 1px solid rgb(139, 208, 234);
    padding: 60px;
    background-color: rgba(186, 241, 223, 0.403);
    text-align: center;
}

.vs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
}
.cc{
    border: 1px solid  rgb(209, 18, 230);
    padding: 10px;
    background-color: rgba(227, 8, 239, 0.868);
}
h3{
    color: green;
}